# A set is an unordered collection with no duplicate elements.

In [5]:
#creation of empty set
set1=set()
set1

set()

In [6]:
set2={10,20,30}
set2

{10, 20, 30}

In [7]:
set3={'a','b','b'}
set3

{'a', 'b'}

# add and remove elements

In [59]:
set_1={111,222}
set_2={}
set_1.add(333)
print(set_1)
set_1.remove(222)
print(set_1)
print(set_1.pop())#Remove and return an arbitrary element from the set. Raises KeyError if the set is empty.
print(set_1.discard(444))#Remove element elem from the set if it is present
print(set_2.pop())
print(set_1.remove(444))#Remove element elem from the set. Raises KeyError if elem is not contained in the set.

{333, 222, 111}
{333, 111}
333

TypeError: pop expected at least 1 arguments, got 0

# Access set elements

In [9]:
for element in set3:
    print(element)

a
b

In [11]:
len(set3)

2

# membership in set

In [12]:
'a' in set3

True

In [13]:
'c' in set3

False

In [14]:
'c' not in set3

True

# disjoint

In [15]:
#Return True if the set has no elements in common with other. 
#Sets are disjoint if and only if their intersection is the empty set.
set2.isdisjoint(set3)

True

# is subset

In [28]:
#METHOD-1
set2={10,20,30}
set4={10,20}
set4.issubset(set2)

True

In [29]:
#METHOD-2
set4<=set2

True

In [23]:
#Test whether the set is a proper subset of other, that is, set <= other and set != other
set5={1,2}
set6={1,2}
print(set5<set6)#proper subset
print(set5<=set6)#suset
del set5,set6

False
True

# superset

In [30]:
#METHOD-1
set2={10,20,30}
set4={10,20}
set2.issuperset(set4)

True

In [32]:
#METHOD-2
set4>=set2

False

In [33]:
set5={1,2}
set6={1,2}
print(set5>set6)#proper superset
print(set5>=set6)#superset
del set5,set6

False
True

# union

In [34]:
#METHOD-1
set2|set3

{10, 20, 30, 'a', 'b'}

In [35]:
#METHOD-2
set2.union(set3)

{10, 20, 30, 'a', 'b'}

# intersection

In [36]:
#METHOD-1
set2={10,20,30}
set4={10,20}
set2&set4

{10, 20}

In [38]:
#METHOD-2
set2.intersection(set4)

{10, 20}

# difference

In [39]:
#METHOD-1
set2={10,20,30}
set4={10,20}
set2-set4

{30}

In [40]:
#METHOD-2
set2.difference(set4)

{30}

# symmetric_difference

In [41]:
set2.symmetric_difference(set4)

{30}

In [42]:
set4.symmetric_difference(set2)

{30}

In [43]:
set4^set2

{30}

# copy

In [61]:
#shallow copy
set5=set2.copy()
set5

{10, 20, 30}

In [62]:
#Remove all elements from the set.
set5.clear()
print(set5)

set()

# FROZEN SETS
#when set is immutable

In [50]:
#creating frozen set
elements=(11,22,33)
fset=frozenset(elements)
print(fset)

frozenset({33, 11, 22})