In [1]:
import pandas as pd

In [2]:
data={'names':['a','b','c'],'roll':[1,2,3]}#creating data

In [3]:
my_dataframe=pd.DataFrame(data)#convert our data to pandas datafreame

In [4]:
my_dataframe#see the dataframe

  names  roll
0     a     1
1     b     2
2     c     3

In [5]:
#Pandas use the loc attribute to return one specified row
my_dataframe.loc[0]

names    a
roll     1
Name: 0, dtype: object

In [6]:
#Pandas use the loc attribute to return one or more specified row(s)
my_dataframe.loc[[0,1]]

  names  roll
0     a     1
1     b     2

In [7]:
#Pandas use the loc attribute to return one or more specified row(s)
my_dataframe.loc[[1,2]]

  names  roll
1     b     2
2     c     3

In [8]:
#name the rows where the default are 0,1,...indices
my_dataframe_rownamed=pd.DataFrame(data,index=['student1','student2','student3'])
my_dataframe_rownamed

         names  roll
student1     a     1
student2     b     2
student3     c     3

In [9]:
my_dataframe_rownamed.loc["student1"]#access row with name not index

names    a
roll     1
Name: student1, dtype: object

In [10]:
my_dataframe_rownamed.index #get indices names

Index(['student1', 'student2', 'student3'], dtype='object')

In [11]:
type(my_dataframe_rownamed.index)

pandas.core.indexes.base.Index

In [12]:
len(my_dataframe_rownamed.index)#number of indices

3

In [13]:
my_dataframe_rownamed.index[0]#get first index name

'student1'

In [14]:
my_dataframe_rownamed.index.values #get indices names alternative way

array(['student1', 'student2', 'student3'], dtype=object)

In [15]:
my_dataframe_rownamed.index.values[0] #get first index name

'student1'

In [16]:
len(my_dataframe_rownamed.index.values)

3

In [18]:
for index in my_dataframe_rownamed.index.values:
    print(my_dataframe_rownamed.loc[index])

names    a
roll     1
Name: student1, dtype: object
names    b
roll     2
Name: student2, dtype: object
names    c
roll     3
Name: student3, dtype: object

In [19]:
my_dataframe_rownamed.index.T #Return the transpose, which is by definition self.

Index(['student1', 'student2', 'student3'], dtype='object')

In [20]:
my_dataframe_rownamed.index.array #get indices names alternative way

<PandasArray>
['student1', 'student2', 'student3']
Length: 3, dtype: object

In [21]:
for index in my_dataframe_rownamed.index.array:
    print(my_dataframe_rownamed.loc[index]) #access row with name alternative way

names    a
roll     1
Name: student1, dtype: object
names    b
roll     2
Name: student2, dtype: object
names    c
roll     3
Name: student3, dtype: object

In [22]:
my_dataframe_rownamed.index.to_numpy() #get indices names alternative way

array(['student1', 'student2', 'student3'], dtype=object)

In [23]:
for index in my_dataframe_rownamed.index.to_numpy():
    print(my_dataframe_rownamed.loc[index]) #access row with name alternative way

names    a
roll     1
Name: student1, dtype: object
names    b
roll     2
Name: student2, dtype: object
names    c
roll     3
Name: student3, dtype: object

In [28]:
my_dataframe.index.asi8 #Integer representation of the values.

array([0, 1, 2], dtype=int64)

In [30]:
#doesn't work for this return None
print(my_dataframe_rownamed.index.asi8) #because row indices are not integers

None

In [31]:
#Return the dtype object of the underlying data.
my_dataframe_rownamed.index.dtype #'O'       (Python) objects

dtype('O')

In [32]:
#Return the dtype object of the underlying data.
my_dataframe.index.dtype

dtype('int64')

In [43]:
my_dataframe

  names  roll
0     a     1
1     b     2
2     c     3

In [38]:
#The column labels of the DataFrame.
my_dataframe.columns

Index(['names', 'roll'], dtype='object')

In [41]:
my_dataframe.index#row labels

RangeIndex(start=0, stop=3, step=1)

In [39]:
#pandas.DataFrame.at
#Access a single value for a row/column label pair.
my_dataframe.at[0,'roll']

1

In [45]:
my_dataframe.at[0,'names']

'a'

In [46]:
my_dataframe.at[0,'names']='aa' #change value at

In [47]:
my_dataframe

  names  roll
0    aa     1
1     b     2
2     c     3

In [48]:
my_dataframe.at[3,'names']='d'#set for row and column

In [49]:
my_dataframe

  names  roll
0    aa   1.0
1     b   2.0
2     c   3.0
3     d   NaN

In [50]:
my_dataframe.at[3,'roll']='4'#set for row and column

In [51]:
my_dataframe

  names  roll
0    aa   1.0
1     b   2.0
2     c   3.0
3     d   4.0

In [52]:
my_dataframe.attrs #Dictionary of global attributes of this dataset.

{}

In [53]:
#define attributes for the dataframe
my_dataframe.attrs={'contens':'names and rolls','rowlabels':'default values 0,1,2,3...'}

In [54]:
my_dataframe.attrs #Dictionary of global attributes of this dataset.

{'contens': 'names and rolls'}

In [55]:
my_dataframe_rownamed.attrs={'contens':'names and rolls','rowlabels':'student0,student1,...'}

In [56]:
my_dataframe_rownamed.attrs

{'contens': 'names and rolls', 'rowlabels': 'student0,student1,...'}

In [57]:
my_dataframe_rownamed.axes # row axis labels and column axis labels

[Index(['student1', 'student2', 'student3'], dtype='object'),
 Index(['names', 'roll'], dtype='object')]

In [58]:
my_dataframe.axes

[Int64Index([0, 1, 2, 3], dtype='int64'),
 Index(['names', 'roll'], dtype='object')]

In [61]:
my_dataframe

  names  roll
0    aa   1.0
1     b   2.0
2     c   3.0
3     d   4.0

In [60]:
my_dataframe.dtypes

names     object
roll     float64
dtype: object

In [62]:
my_dataframe.empty

False

In [68]:
my_emptydf=pd.DataFrame({})

In [69]:
my_emptydf

Empty DataFrame
Columns: []
Index: []

In [70]:
my_emptydf.empty

True

In [71]:
my_emptydf=pd.DataFrame({'columns1':[]})

In [72]:
my_emptydf

Empty DataFrame
Columns: [columns1]
Index: []

In [73]:
my_emptydf.empty

True